<html>
<head>
    <title>AWS Content Inspector | BridgeApps Ltd</title>
    <link rel="icon" href="/static/BridgeApps-Logo-Only-300x300.png" sizes="192x192" />

    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.jqueryui.min.css">

    <script src="/static/inspector.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js "></script>   

    <!-- JS Tree -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <!-- JSON View-->
    <link rel="stylesheet" href="https://rawgithub.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.css" />
    <script type="text/javascript" src="https://rawgithub.com/yesmeck/jquery-jsonview/master/dist/jquery.jsonview.js"></script>

       
    <script>
        $(document).ready( function () {

            $("#btnOpenAllNodes").on("click", function (event) {
                 $("#contents_astree").jstree('open_all');
                 $("#btnOpenAllNodes").hide();
                 $("#btnCloseAllNodes").show();
            });

            $("#btnCloseAllNodes").on("click", function (event) {
                 $("#contents_astree").jstree('close_all');
                 $("#btnCloseAllNodes").hide();
                 $("#btnOpenAllNodes").show();
            });
            $("#btnCloseAllNodes").hide();
            $("#btnOpenAllNodes").hide();

            $("#btnGetAllServicesTree").on("click", function (event) {
                console.log("==> Starting to get all services info ");

                $("#btnGetAllServicesTree").text('Loading ....');
                $("#btnGetAllServicesTree").css("background-color","grey");
                $.ajax({
                        url: "/api/v1/aws/services/tree/all",
                        type: "get",
                    }).done(function (result) {
                        console.log("==> Data received : " + result);

                        $('#contents_astree').jstree({ 'core' : {
                            'data' : result
                        } });

                        // reset button to same name
                        $("#btnGetAllServicesTree").text('Get All AWS Services As Tree');
                        $("#btnGetAllServicesTree").css("background-color","#4CAF50");

                        $("#btnOpenAllNodes").show();

                    }).fail(function (jqXHR, textStatus, errorThrown) { 
                        console.log("Error while getting all services data : " + errorThrown);
                    });
                console.log("==> All Services Info received and table updated ");
            });

            // Event: on click of JSON tree node.
            $('#contents_astree').on("select_node.jstree", function (e, data) { 
                console.log("==>> JSON tree node clicked with id = " + data.node.id);
                var serviceInfo = getAwsServiceInfo(data.node.id);

            });

            function getAwsServiceInfo(instance_id){
                var url = "/api/v1/aws/services/tree/" + instance_id;
                console.log("==>> calling API : " + url);
                $.ajax({
                        url: url,
                        type: "get",
                    }).done(function (result) {
                        // return content to the HTML section 
                        console.log("==>> API result : "+ JSON.stringify(result));
                        $("#pageContent").html(JSON.stringify(result));
                        $('#pageContent').JSONView($("#pageContent").html());

                    }).fail(function (jqXHR, textStatus, errorThrown) { 
                        console.log("Error while getting data for instance id : " + errorThrown);
                    });
            }

            $("#btnResetAll").on("click", function (event) {
                console.log("==> Startinng reset ");
                $("#btnResetAll").text('Loading ....');
                $("#btnResetAll").css("background-color","grey");
                $.ajax({
                        url: "/api/v1/aws/services/reset",
                        type: "get",
                    }).done(function (result) {

                        // reset button to same name
                        $("#btnResetAll").text('Reset Cache');
                        $("#btnResetAll").css("background-color","#4CAF50");

                    }).fail(function (jqXHR, textStatus, errorThrown) { 
                        console.log("Error while getting all services data : " + errorThrown);
                    });
                console.log("==> All Services Info received and table updated ");
            });

            $("#btnSetProfile").on("click", function (event) {
                
                var profileSelected = [$('#selectAwsProfile').val()];
                console.log("==> Starting to Set New Profile info " + profileSelected );
               
                $.ajax({
                        url: "/api/v1/aws/profile/" + profileSelected,
                        type: "POST",
                        data: JSON.stringify(profileSelected)
                    }).done(function (result) {
                        console.log("==> Data received : " + result);
                        showMessage(result);
                        getCurrentProfile();
                        location.reload(); // reload page after profile change
                    }).fail(function (jqXHR, textStatus, errorThrown) { 
                        console.log("Error while getting all services data : " + errorThrown);
                    });
                console.log("==> Setting up of Profile completed ");
            });

            
            getAllAwsProfiles();
            getCurrentProfile();

            $('#messages').hide();
        
        });
    
    </script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <section class="pageheader">
            <h1>AWS Content Inspector </h1>
            <div class="col-md-4"> Current AWS profile: <span id="currentAwsProfile"></span></div>
            <div class="col-md-12 setProfile" style="text-align:right" >
                <select id="selectAwsProfile" name="selectAwsProfile" class="secondary"></select>
                <button id="btnSetProfile" name="btnSetProfile"  class="secondary"> Set Current Profile</button>
            </div>
        </section>

        <section class="menutree">
            <div class="col-md-12 menubar" style="text-align:left" >
                <span><a href="/">Services as Table</a></span> <span> | <a href="/tree">Services as Tree</a></span> 
            </div>
        </section>

        <div id="messages" class="col-md-12"></div>

        <section class="pageFilters col-md-12">
        <div class="col-md-12" style="text-align:right">
            <button id="btnGetAllServicesTree" name="btnGetAllServicesTree" class="primary">Get All AWS Services As Tree</button>
            <button id="btnOpenAllNodes" name="btnOpenAllNodes" class="another">Open All Nodes</button>
            <button id="btnCloseAllNodes" name="btnCloseAllNodes" class="another">Close All Nodes</button>
            
        </div>
        </section>
        <section class="leftpanel col-md-4">
            <div name="contents_astree" id="contents_astree">

            </div>
        </section>
        
        <section class="pageBody col-md-8">
            
            <div class="pageContent" id="pageContent" name="pageContent">
                Select Instance on the tree to view Instance Specific Details !
                
            </div>
        </section>
    </div>
</div>


</body>
</html>